$green-color: #28D4A4;
$primary-color: #453179;
$blue-color: #328af1;
$font-dark-color: #1d1c1d;

// $input-size-box-shadow:
// $input-box-shadow;

$btn-primary-on-hover-color: #2c1f4c;
$btn-green-on-hover-color: #20a781;
$btn-blue-on-hover-color: #1071e0;

$link-active: #222;

$black: #000;
$dark: #333;
$light: #e1ecf4;
