$icomoon-font-family: "doccure" !default;
$icomoon-font-path: "../../fonts/doccureicons" !default;

$doc__asterisk__icon: "\f069";
$doc__plus__icon: "\f067";
$doc__question__icon: "\f128";
$doc__minus__icon: "\f068";
$doc__glass__icon: "\f000";
$doc__music__icon: "\f001";
$doc__search__icon: "\f002";
$doc__envelope-o__icon: "\f003";
$doc__heart__icon: "\f004";
$doc__star__icon: "\f005";
$doc__star-o__icon: "\f006";
$doc__user__icon: "\f007";
$doc__th-large__icon: "\f009";
$doc__th__icon: "\f00a";
$doc__th-list__icon: "\f00b";
$doc__check__icon: "\f00c";
$doc__close__icon: "\f00d";
$doc__remove__icon: "\f00d";
$doc__times__icon: "\f00d";
$doc__search-plus__icon: "\f00e";
$doc__search-minus__icon: "\f010";
$doc__power-off__icon: "\f011";
$doc__signal__icon: "\f012";
$doc__cog__icon: "\f013";
$doc__gear__icon: "\f013";
$doc__trash-o__icon: "\f014";
$doc__home__icon: "\f015";
$doc__file-o__icon: "\f016";
$doc__clock-o__icon: "\f017";
$doc__download__icon: "\f019";
$doc__arrow-circle-o-down__icon: "\f01a";
$doc__arrow-circle-o-up__icon: "\f01b";
$doc__inbox__icon: "\f01c";
$doc__play-circle-o__icon: "\f01d";
$doc__repeat__icon: "\f01e";
$doc__rotate-right__icon: "\f01e";
$doc__refresh__icon: "\f021";
$doc__lock__icon: "\f023";
$doc__flag__icon: "\f024";
$doc__volume-off__icon: "\f026";
$doc__volume-down__icon: "\f027";
$doc__volume-up__icon: "\f028";
$doc__qrcode__icon: "\f029";
$doc__barcode__icon: "\f02a";
$doc__tag__icon: "\f02b";
$doc__tags__icon: "\f02c";
$doc__book__icon: "\f02d";
$doc__bookmark__icon: "\f02e";
$doc__print__icon: "\f02f";
$doc__camera__icon: "\f030";
$doc__pencil__icon: "\f040";
$doc__map-marker__icon: "\f041";
$doc__adjust__icon: "\f042";
$doc__tint__icon: "\f043";
$doc__edit__icon: "\f044";
$doc__pencil-square-o__icon: "\f044";
$doc__share-square-o__icon: "\f045";
$doc__check-square-o__icon: "\f046";
$doc__arrows__icon: "\f047";
$doc__step-backward__icon: "\f048";
$doc__fast-backward__icon: "\f049";
$doc__backward__icon: "\f04a";
$doc__play__icon: "\f04b";
$doc__pause__icon: "\f04c";
$doc__stop__icon: "\f04d";
$doc__forward__icon: "\f04e";
$doc__fast-forward__icon: "\f050";
$doc__step-forward__icon: "\f051";
$doc__eject__icon: "\f052";
$doc__chevron-left__icon: "\f053";
$doc__chevron-right__icon: "\f054";
$doc__plus-circle__icon: "\f055";
$doc__minus-circle__icon: "\f056";
$doc__times-circle__icon: "\f057";
$doc__check-circle__icon: "\f058";
$doc__question-circle__icon: "\f059";
$doc__info-circle__icon: "\f05a";
$doc__crosshairs__icon: "\f05b";
$doc__times-circle-o__icon: "\f05c";
$doc__check-circle-o__icon: "\f05d";
$doc__ban__icon: "\f05e";
$doc__arrow-left__icon: "\f060";
$doc__arrow-right__icon: "\f061";
$doc__arrow-up__icon: "\f062";
$doc__arrow-down__icon: "\f063";
$doc__mail-forward__icon: "\f064";
$doc__share__icon: "\f064";
$doc__expand__icon: "\f065";
$doc__compress__icon: "\f066";
$doc__exclamation-circle__icon: "\f06a";
$doc__gift__icon: "\f06b";
$doc__leaf__icon: "\f06c";
$doc__fire__icon: "\f06d";
$doc__eye__icon: "\f06e";
$doc__eye-slash__icon: "\f070";
$doc__exclamation-triangle__icon: "\f071";
$doc__warning__icon: "\f071";
$doc__plane__icon: "\f072";
$doc__calendar__icon: "\f073";
$doc__random__icon: "\f074";
$doc__comment__icon: "\f075";
$doc__magnet__icon: "\f076";
$doc__chevron-up__icon: "\f077";
$doc__chevron-down__icon: "\f078";
$doc__retweet__icon: "\f079";
$doc__shopping-cart__icon: "\f07a";
$doc__folder__icon: "\f07b";
$doc__folder-open__icon: "\f07c";
$doc__arrows-v__icon: "\f07d";
$doc__arrows-h__icon: "\f07e";
$doc__twitter-square__icon: "\f081";
$doc__facebook-square__icon: "\f082";
$doc__cogs__icon: "\f085";
$doc__gears__icon: "\f085";
$doc__comments__icon: "\f086";
$doc__thumbs-o-up__icon: "\f087";
$doc__thumbs-o-down__icon: "\f088";
$doc__star-half__icon: "\f089";
$doc__heart-o__icon: "\f08a";
$doc__sign-out__icon: "\f08b";
$doc__linkedin-square__icon: "\f08c";
$doc__thumb-tack__icon: "\f08d";
$doc__sign-in__icon: "\f090";
$doc__trophy__icon: "\f091";
$doc__upload__icon: "\f093";
$doc__phone__icon: "\f095";
$doc__phone-square__icon: "\f098";
$doc__twitter__icon: "\f099";
$doc__facebook__icon: "\f09a";
$doc__facebook-f__icon: "\f09a";
$doc__unlock__icon: "\f09c";
$doc__bullhorn__icon: "\f0a1";
$doc__bell-o__icon: "\f0a2";
$doc__hand-o-right__icon: "\f0a4";
$doc__hand-o-left__icon: "\f0a5";
$doc__hand-o-up__icon: "\f0a6";
$doc__hand-o-down__icon: "\f0a7";
$doc__arrow-circle-left__icon: "\f0a8";
$doc__arrow-circle-right__icon: "\f0a9";
$doc__arrow-circle-up__icon: "\f0aa";
$doc__arrow-circle-down__icon: "\f0ab";
$doc__globe__icon: "\f0ac";
$doc__wrench__icon: "\f0ad";
$doc__filter__icon: "\f0b0";
$doc__briefcase__icon: "\f0b1";
$doc__arrows-alt__icon: "\f0b2";
$doc__group__icon: "\f0c0";
$doc__users__icon: "\f0c0";
$doc__chain__icon: "\f0c1";
$doc__link__icon: "\f0c1";
$doc__cloud__icon: "\f0c2";
$doc__cut__icon: "\f0c4";
$doc__scissors__icon: "\f0c4";
$doc__copy__icon: "\f0c5";
$doc__files-o__icon: "\f0c5";
$doc__paperclip__icon: "\f0c6";
$doc__floppy-o__icon: "\f0c7";
$doc__save__icon: "\f0c7";
$doc__magic__icon: "\f0d0";
$doc__pinterest__icon: "\f0d2";
$doc__pinterest-square__icon: "\f0d3";
$doc__google-plus-square__icon: "\f0d4";
$doc__google-plus__icon: "\f0d5";
$doc__caret-down__icon: "\f0d7";
$doc__caret-up__icon: "\f0d8";
$doc__caret-left__icon: "\f0d9";
$doc__caret-right__icon: "\f0da";
$doc__envelope__icon: "\f0e0";
$doc__linkedin__icon: "\f0e1";
$doc__rotate-left__icon: "\f0e2";
$doc__undo__icon: "\f0e2";
$doc__comment-o__icon: "\f0e5";
$doc__comments-o__icon: "\f0e6";
$doc__bolt__icon: "\f0e7";
$doc__flash__icon: "\f0e7";
$doc__umbrella__icon: "\f0e9";
$doc__lightbulb-o__icon: "\f0eb";
$doc__exchange__icon: "\f0ec";
$doc__cloud-download__icon: "\f0ed";
$doc__cloud-upload__icon: "\f0ee";
$doc__user-md__icon: "\f0f0";
$doc__stethoscope__icon: "\f0f1";
$doc__suitcase__icon: "\f0f2";
$doc__bell__icon: "\f0f3";
$doc__file-text-o__icon: "\f0f6";
$doc__building-o__icon: "\f0f7";
$doc__hospital-o__icon: "\f0f8";
$doc__ambulance__icon: "\f0f9";
$doc__medkit__icon: "\f0fa";
$doc__h-square__icon: "\f0fd";
$doc__plus-square__icon: "\f0fe";
$doc__angle-double-left__icon: "\f100";
$doc__angle-double-right__icon: "\f101";
$doc__angle-double-up__icon: "\f102";
$doc__angle-double-down__icon: "\f103";
$doc__angle-left__icon: "\f104";
$doc__angle-right__icon: "\f105";
$doc__angle-up__icon: "\f106";
$doc__angle-down__icon: "\f107";
$doc__laptop__icon: "\f109";
$doc__tablet__icon: "\f10a";
$doc__mobile__icon: "\f10b";
$doc__mobile-phone__icon: "\f10b";
$doc__quote-left__icon: "\f10d";
$doc__quote-right__icon: "\f10e";
$doc__spinner__icon: "\f110";
$doc__circle__icon: "\f111";
$doc__folder-o__icon: "\f114";
$doc__folder-open-o__icon: "\f115";
$doc__smile-o__icon: "\f118";
$doc__frown-o__icon: "\f119";
$doc__meh-o__icon: "\f11a";
$doc__flag-o__icon: "\f11d";
$doc__flag-checkered__icon: "\f11e";
$doc__star-half-empty__icon: "\f123";
$doc__star-half-full__icon: "\f123";
$doc__star-half-o__icon: "\f123";
$doc__location-arrow__icon: "\f124";
$doc__chain-broken__icon: "\f127";
$doc__unlink__icon: "\f127";
$doc__info__icon: "\f129";
$doc__exclamation__icon: "\f12a";
$doc__microphone__icon: "\f130";
$doc__microphone-slash__icon: "\f131";
$doc__shield__icon: "\f132";
$doc__rocket__icon: "\f135";
$doc__chevron-circle-left__icon: "\f137";
$doc__chevron-circle-right__icon: "\f138";
$doc__chevron-circle-up__icon: "\f139";
$doc__chevron-circle-down__icon: "\f13a";
$doc__unlock-alt__icon: "\f13e";
$doc__ellipsis-h__icon: "\f141";
$doc__ellipsis-v__icon: "\f142";
$doc__minus-square__icon: "\f146";
$doc__minus-square-o__icon: "\f147";
$doc__level-up__icon: "\f148";
$doc__level-down__icon: "\f149";
$doc__check-square__icon: "\f14a";
$doc__pencil-square__icon: "\f14b";
$doc__external-link-square__icon: "\f14c";
$doc__share-square__icon: "\f14d";
$doc__caret-square-o-down__icon: "\f150";
$doc__toggle-down__icon: "\f150";
$doc__caret-square-o-up__icon: "\f151";
$doc__toggle-up__icon: "\f151";
$doc__caret-square-o-right__icon: "\f152";
$doc__toggle-right__icon: "\f152";
$doc__eur__icon: "\f153";
$doc__euro__icon: "\f153";
$doc__gbp__icon: "\f154";
$doc__dollar__icon: "\f155";
$doc__usd__icon: "\f155";
$doc__inr__icon: "\f156";
$doc__rupee__icon: "\f156";
$doc__file__icon: "\f15b";
$doc__file-text__icon: "\f15c";
$doc__sort-alpha-asc__icon: "\f15d";
$doc__sort-alpha-desc__icon: "\f15e";
$doc__sort-amount-asc__icon: "\f160";
$doc__sort-amount-desc__icon: "\f161";
$doc__sort-numeric-asc__icon: "\f162";
$doc__sort-numeric-desc__icon: "\f163";
$doc__thumbs-up__icon: "\f164";
$doc__thumbs-down__icon: "\f165";
$doc__youtube-square__icon: "\f166";
$doc__youtube__icon: "\f167";
$doc__youtube-play__icon: "\f16a";
$doc__instagram__icon: "\f16d";
$doc__long-arrow-down__icon: "\f175";
$doc__long-arrow-up__icon: "\f176";
$doc__long-arrow-left__icon: "\f177";
$doc__long-arrow-right__icon: "\f178";
$doc__apple__icon: "\f179";
$doc__windows__icon: "\f17a";
$doc__android__icon: "\f17b";
$doc__linux__icon: "\f17c";
$doc__dribbble__icon: "\f17d";
$doc__skype__icon: "\f17e";
$doc__female__icon: "\f182";
$doc__male__icon: "\f183";
$doc__sun-o__icon: "\f185";
$doc__moon-o__icon: "\f186";
$doc__bug__icon: "\f188";
$doc__vk__icon: "\f189";
$doc__pagelines__icon: "\f18c";
$doc__arrow-circle-o-right__icon: "\f18e";
$doc__arrow-circle-o-left__icon: "\f190";
$doc__plus-square-o__icon: "\f196";
$doc__envelope-square__icon: "\f199";
$doc__graduation-cap__icon: "\f19d";
$doc__mortar-board__icon: "\f19d";
$doc__google__icon: "\f1a0";
$doc__language__icon: "\f1ab";
$doc__fax__icon: "\f1ac";
$doc__child__icon: "\f1ae";
$doc__paper-plane__icon: "\f1d8";
$doc__send__icon: "\f1d8";
$doc__paper-plane-o__icon: "\f1d9";
$doc__send-o__icon: "\f1d9";
$doc__history__icon: "\f1da";
$doc__circle-thin__icon: "\f1db";
$doc__share-alt__icon: "\f1e0";
$doc__share-alt-square__icon: "\f1e1";
$doc__bomb__icon: "\f1e2";
$doc__wifi__icon: "\f1eb";
$doc__calculator__icon: "\f1ec";
$doc__paypal__icon: "\f1ed";
$doc__cc-visa__icon: "\f1f0";
$doc__cc-mastercard__icon: "\f1f1";
$doc__cc-discover__icon: "\f1f2";
$doc__cc-amex__icon: "\f1f3";
$doc__cc-paypal__icon: "\f1f4";
$doc__cc-stripe__icon: "\f1f5";
$doc__bell-slash__icon: "\f1f6";
$doc__bell-slash-o__icon: "\f1f7";
$doc__trash__icon: "\f1f8";
$doc__copyright__icon: "\f1f9";
$doc__at__icon: "\f1fa";
$doc__toggle-off__icon: "\f204";
$doc__toggle-on__icon: "\f205";
$doc__skyatlas__icon: "\f216";
$doc__cart-plus__icon: "\f217";
$doc__cart-arrow-down__icon: "\f218";
$doc__diamond__icon: "\f219";
$doc__user-secret__icon: "\f21b";
$doc__heartbeat__icon: "\f21e";
$doc__venus__icon: "\f221";
$doc__mars__icon: "\f222";
$doc__facebook-official__icon: "\f230";
$doc__pinterest-p__icon: "\f231";
$doc__whatsapp__icon: "\f232";
$doc__user-plus__icon: "\f234";
$doc__user-times__icon: "\f235";
$doc__hourglass-1__icon: "\f251";
$doc__hourglass-start__icon: "\f251";
$doc__hourglass-2__icon: "\f252";
$doc__hourglass-half__icon: "\f252";
$doc__hourglass-3__icon: "\f253";
$doc__hourglass-end__icon: "\f253";
$doc__hand-grab-o__icon: "\f255";
$doc__hand-rock-o__icon: "\f255";
$doc__trademark__icon: "\f25c";
$doc__registered__icon: "\f25d";
$doc__creative-commons__icon: "\f25e";
$doc__get-pocket__icon: "\f265";
$doc__safari__icon: "\f267";
$doc__chrome__icon: "\f268";
$doc__firefox__icon: "\f269";
$doc__opera__icon: "\f26a";
$doc__internet-explorer__icon: "\f26b";
$doc__calendar-plus-o__icon: "\f271";
$doc__calendar-minus-o__icon: "\f272";
$doc__calendar-times-o__icon: "\f273";
$doc__calendar-check-o__icon: "\f274";
$doc__map-signs__icon: "\f277";
$doc__commenting__icon: "\f27a";
$doc__commenting-o__icon: "\f27b";
$doc__edge__icon: "\f282";
$doc__credit-card-alt__icon: "\f283";
$doc__pause-circle__icon: "\f28b";
$doc__pause-circle-o__icon: "\f28c";
$doc__stop-circle__icon: "\f28d";
$doc__stop-circle-o__icon: "\f28e";
$doc__shopping-bag__icon: "\f290";
$doc__shopping-basket__icon: "\f291";
$doc__hashtag__icon: "\f292";
$doc__percent__icon: "\f295";
$doc__envira__icon: "\f299";
$doc__question-circle-o__icon: "\f29c";
$doc__volume-control-phone__icon: "\f2a0";
$doc__low-vision__icon: "\f2a8";
$doc__fa__icon: "\f2b4";
$doc__font-awesome__icon: "\f2b4";
$doc__handshake-o__icon: "\f2b5";
$doc__envelope-open__icon: "\f2b6";
$doc__envelope-open-o__icon: "\f2b7";
$doc__address-book__icon: "\f2b9";
$doc__address-book-o__icon: "\f2ba";
$doc__address-card__icon: "\f2bb";
$doc__vcard__icon: "\f2bb";
$doc__address-card-o__icon: "\f2bc";
$doc__vcard-o__icon: "\f2bc";
$doc__user-circle__icon: "\f2bd";
$doc__user-circle-o__icon: "\f2be";
$doc__user-o__icon: "\f2c0";
$doc__drivers-license__icon: "\f2c2";
$doc__id-card__icon: "\f2c2";
$doc__drivers-license-o__icon: "\f2c3";
$doc__id-card-o__icon: "\f2c3";
$doc__quora__icon: "\f2c4";
$doc__telegram__icon: "\f2c6";
$doc__thermometer__icon: "\f2c7";
$doc__thermometer-4__icon: "\f2c7";
$doc__thermometer-full__icon: "\f2c7";
$doc__thermometer-3__icon: "\f2c8";
$doc__thermometer-three-quarters__icon: "\f2c8";
$doc__thermometer-2__icon: "\f2c9";
$doc__thermometer-half__icon: "\f2c9";
$doc__thermometer-1__icon: "\f2ca";
$doc__thermometer-quarter__icon: "\f2ca";
$doc__thermometer-0__icon: "\f2cb";
$doc__thermometer-empty__icon: "\f2cb";
$doc__times-rectangle__icon: "\f2d3";
$doc__window-close__icon: "\f2d3";
$doc__times-rectangle-o__icon: "\f2d4";
$doc__window-close-o__icon: "\f2d4";
$doc__snowflake-o__icon: "\f2dc";