$input-box-shadow: #4531798c;
$input-size-box-shadow: 3px;
$input-background-color: #fff;
$input-line-height: 2.2rem;
$input-border-radius: 0.5rem;
$input-font-size: 14px;


$input-border-error-color: #dc3545;
$input-box-shadow-error-color: rgb(220 53 69 / 25%);

$input-border-valid-color: #198754;
$input-box-shadow-valid-color: rgb(25 135 84 / 25%);